@model List<Aplikacja.Entities.JobModel.Job>
@{
    ViewData["Title"] = "Home Page";
}

<h1>List of Tasks</h1>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Received
            </th>
            <th>
                Due date
            </th>
            <th>
                Started
            </th>
            <th>
                Finished
            </th>
            <th>
                Status
            </th>
            <th>
                Type
            </th>
            <th>
                System
            </th>
            <th>
                Description
            </th>
            <th>
               Enigineer
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="6%"> @obj.Received</td>
                <td width="6%">@obj.DueDate</td>
                <td width="6%"> @obj.Started</td>
                <td width="6%">@obj.Finished</td>
                <td width="4%"> @obj.Status</td>
                <td width="4%">@obj.Type</td>
                <td width="10%"> @obj.System</td>
                <td width="10%">@obj.JobDescription</td>
                <td width="10%"> @obj.Engineer</td>
@*                <td width="10%">@obj.ProjectName</td>
                <td width="10%"> @obj.Client</td>
                <td width="10%">@obj.ProjectName</td>*@
                
                
                <td>
                    <a asp-action="CreateOrEdit" asp-route-id="@obj.JobId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@obj.JobId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@obj.JobId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

