@model List<Aplikacja.Entities.JobModel.Job>
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
</head>

<h1>List of Tasks</h1>

<button type="button" class="button-62" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Nowe zadanie
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Nowe zadanie</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3" method="post" asp-action="Create" asp-controller="Home">
                            <div class="col-md-6">
                                <label for="inputEmail4" class="form-label">Received</label>
                        <input type="text" class="form-control" id="inputEmail4" name="Received">
                            </div>
                            <div class="col-md-6">
                                <label for="inputPassword4" class="form-label">Due date</label>
                        <input type="text" class="form-control" id="inputPassword4" name="Duedate">
                            </div>
                        <div class="col-md-6">
                            <label for="inputEmail4" class="form-label">Client</label>
                        <input type="text" class="form-control" id="inputEmail4" name="Client">
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword4" class="form-label">Engineer</label>
                        <input type="text" class="form-control" id="inputPassword4" name="Engineer">
                        </div>
                            <div class="col-12">
                                <label for="inputAddress" class="form-label">Description</label>
                        <input type="text" class="form-control" id="inputAddress" name="JobDescription">
                            </div>
                        <div class="col-12">
                            <label for="inputAddress" class="form-label">Link</label>
                        <input type="text" class="form-control" id="inputAddress" name="Link">
                        </div>
                        <div class="col-md-6">
                            <label for="inputEmail4" class="form-label">Project Number</label>
                        <input type="text" class="form-control" id="inputEmail4" name="ProjectNumber">
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword4" class="form-label">Project Name</label>
                        <input type="text" class="form-control" id="inputPassword4" name="ProjectName">
                        </div>
                            <div class="col-md-4">
                                <label for="inputState" class="form-label">System</label>
                            <select id="inputState" class="form-select" name="System">
                                    <option selected>Catia</option>
                                    <option>NX</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="inputState" class="form-label">Type</label>
                                <select id="inputState" class="form-select" name="Type">
                                    <option selected>2D</option>
                                    <option>3D</option>
                                    <option>2D/3D</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="inputCity" class="form-label">ECM</label>
                        <input type="text" class="form-control" id="inputCity" name="Ecm">
                            </div>
                            
                            <div class="col-md-2">
                                <label for="inputZip" class="form-label">Task</label>
                        <input type="text" class="form-control" id="inputZip" name="Gpdm">
                            </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                        </form>
            </div>
            
        </div>
    </div>
</div>

<body>
        <div class="line">
            <div class="jobId_content">ID</div>
            <div class="date_content">Received</div>
            <div class="date_content">DueDate</div>
            <div class="date_content">Started</div>
            <div class="date_content">Finished</div>
            <div class="status_content">Status</div>
            <div class="type_content">Type</div>
            <div class="system_content">System</div>
            <div class="responsible_engineer_content">Responsible</div>
            <div class="description_projectname_content">Opis</div>
            <div class="responsible_engineer_content">Engineer</div>
            <div class="ecm_projectnumber_content">Ecm</div>
            <div class="gpdm_content">Gpdm</div>
            <div class="ecm_projectnumber_content">P.Numb</div>
            <div class="ecm_projectnumber_content">Client</div>
            <div class="description_projectname_content">P.Name</div>
            <div >Options</div>
        </div>
        @foreach (var obj in Model)
        {      
            <div class="line" asp-action="Details" asp-route-id="@obj.JobId">
            <div class="jobId_content"> @obj.JobId</div>
            <div class="date_content"> @obj.Received</div>
            <div class="date_content">@obj.DueDate</div>
            <div class="date_content"> @obj.Started</div>
            <div class="date_content">@obj.Finished</div>
            <div class="status_content"> @obj.Status</div>
            <div class="type_content">@obj.Type</div>
            <div class="system_content"> @obj.System</div>
            <div class="responsible_engineer_content">Mroczkowski Dawid</div>
            <div class="description_projectname_content">@obj.JobDescription</div>
            <div class="responsible_engineer_content">@obj.Engineer</div>
            <div class="ecm_projectnumber_content"> @obj.Ecm</div>
            <div class="gpdm_content"> @obj.Gpdm</div>
            <div class="ecm_projectnumber_content">@obj.ProjectNumber</div>
            <div class="ecm_projectnumber_content"> @obj.Client</div>
            <div class="description_projectname_content">@obj.ProjectName</div>
            <form asp-controller="Home" asp-action="AddToInbox" method="post">
                <input type="hidden" name="jobid" value="@obj.JobId" class="form-control">
                <button type="submit" class="button-62">Delete</button>
            </form>
            <form asp-controller="Home" asp-action="AddToInbox" method="post">
                <input type="hidden" name="jobid" value="@obj.JobId" class="form-control">
                <button type="submit" class="button-62">Update</button>
            </form>
            <form asp-controller="Home" asp-action="AddToInbox" method="post">
                <input type="hidden" name="jobid" value="@obj.JobId" class="form-control">
                <button type="submit" class="button-62" role="button"> Add</button>
            </form>
            
            </div>
        }
</body>



